In [3]:
import pandas as pd

In [1]:
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [2]:
books

[{'title': 'Genetic Algorithms and Machine Learning for Programmers',
  'price': 36.99,
  'author': 'Frances Buontempo'},
 {'title': 'The Visual Display of Quantitative Information',
  'price': 38.0,
  'author': 'Edward Tufte'},
 {'title': 'Practical Object-Oriented Design',
  'author': 'Sandi Metz',
  'price': 30.47},
 {'title': 'Weapons of Math Destruction',
  'author': "Cathy O'Neil",
  'price': 17.44}]

In [4]:
books = pd.DataFrame(books)
books

                                               title  price             author
0  Genetic Algorithms and Machine Learning for Pr...  36.99  Frances Buontempo
1     The Visual Display of Quantitative Information  38.00       Edward Tufte
2                   Practical Object-Oriented Design  30.47         Sandi Metz
3                        Weapons of Math Destruction  17.44       Cathy O'Neil

In [30]:
books.index==0

array([ True, False, False, False])

In [5]:
len(books)

4

In [6]:
books.size

12

In [7]:
books.price.sum()

122.9

In [8]:
books.price

0    36.99
1    38.00
2    30.47
3    17.44
Name: price, dtype: float64

In [9]:
books['price'].sum() # using this way it helps to mitigate spaces {object = books, series= price}

122.9

In [17]:
books.head(3) # gives x number of objects ; here x = 3

                                               title  price             author
0  Genetic Algorithms and Machine Learning for Pr...  36.99  Frances Buontempo
1     The Visual Display of Quantitative Information  38.00       Edward Tufte
2                   Practical Object-Oriented Design  30.47         Sandi Metz

In [18]:
# indexing 
books.index==0

array([ True, False, False, False])

In [19]:
# indexing 
books[books.index==0]

                                               title  price             author
0  Genetic Algorithms and Machine Learning for Pr...  36.99  Frances Buontempo

In [20]:
books.iloc[0]

title     Genetic Algorithms and Machine Learning for Pr...
price                                                 36.99
author                                    Frances Buontempo
Name: 0, dtype: object

In [22]:
#df.column_name.idxmax() to get the index of the highest calue from column_name specified
highest_price_index= books.price.idxmax()

1

In [ ]:
# get the highest price book

In [25]:
books[books.index== books.price.idxmax()]

                                            title  price        author
1  The Visual Display of Quantitative Information   38.0  Edward Tufte

In [27]:
# df.column_name.idmax() to fet the index of the highest value from column_name specified

highest_price_index = books.price.idxmax()
highest_price_index

1

In [28]:
df.info()

NameError: name 'df' is not defined

In [31]:
import numpy as np
import pandas as pd
from pydataset import data

In [32]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [33]:
print(df)

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72