In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Exercises Part I

In [ ]:
  ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [70]:
fruits =    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits_series = pd.Series(fruits)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
''' 1. Determine the number of elements in fruits. '''

In [77]:
fruits_series = pd.Series(fruits)
fruits_series.size

17

In [ ]:
'''2. Output only the index from fruits.'''

In [17]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [18]:
'''3. Output only the values from fruits.'''

fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [ ]:
''' 4. Confirm the data type of the values in fruits.'''

In [20]:
fruits_series.dtype

dtype('O')

In [ ]:

''' 5. Determine the string value that occurs least frequently in fruits.'''

In [78]:
fruits_series.value_counts().nsmallest(n=1, keep ='all')

blueberry           1
tomato              1
watermelon          1
gala apple          1
strawberry          1
pineapple           1
honeycrisp apple    1
papaya              1
blackberry          1
honeydew            1
gooseberry          1
dtype: int64

In [22]:
least_fruits = fruits_series.value_counts()
least_fruits

kiwi                4
mango               2
blueberry           1
tomato              1
watermelon          1
gala apple          1
strawberry          1
pineapple           1
honeycrisp apple    1
papaya              1
blackberry          1
honeydew            1
gooseberry          1
dtype: int64

In [ ]:
''' 6. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

'''

In [34]:
head_count= fruits_series.head()
head_count
first_five= head_count.values
print(first_five)

tail_count = fruits_series.tail(3)
last_three = tail_count.values
print(last_three)

two_random= fruits_series.sample(2)
print(two_random)

fruits_series.describe()

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple']
['blackberry' 'gooseberry' 'papaya']
5     honeycrisp apple
16              papaya
dtype: object

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
'''7. Run the code necessary to produce only the unique string values from fruits.'''

In [53]:
unique_string= fruits_series.unique()
unique_string

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [61]:
' count unique'
fruits_series.nunique()

13

In [ ]:
''' 9. Determine how many times each unique string value occurs in fruits.'''

In [57]:

fruits_series.sort_values()

fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
'''10. Determine the string value that occurs most frequently in fruits.'''

In [58]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [63]:
fruits_series.value_counts()

kiwi                4
mango               2
blueberry           1
tomato              1
watermelon          1
gala apple          1
strawberry          1
pineapple           1
honeycrisp apple    1
papaya              1
blackberry          1
honeydew            1
gooseberry          1
dtype: int64

In [65]:
fruits_series.value_counts().idxmax()

'kiwi'

In [66]:
fruits_series.value_counts().nlargest(n =1, keep = 'all') # read docs

kiwi    4
dtype: int64

In [ ]:
''' Determine the string value that occurs least frequently in fruits.'''

In [67]:
fruits_series.value_counts().nsmallest(n=1, keep ='all')

blueberry           1
tomato              1
watermelon          1
gala apple          1
strawberry          1
pineapple           1
honeycrisp apple    1
papaya              1
blackberry          1
honeydew            1
gooseberry          1
dtype: int64

# Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

In [130]:
fruits =    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [139]:
fruits= pd.Series(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [79]:
''' 1. Capitalize all the string values in fruits.'''

fruits_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [83]:

''' 2. Count the letter "a" in all the string values (use string vectorization).'''

fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [ ]:
''' 3. Output the number of vowels in each and every string value.'''

In [140]:

def contains_vowels(fruits):
    num_vowels = 0
    for alpha in fruits:
        if alpha in "aeiouAEIOU":
            num_vowels= num_vowels+1
    return num_vowels
fruits.apply(contains_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [ ]:
''' 4. Write the code to get the longest string value from fruits.'''

In [152]:
longest_string = fruits.apply(len).idxmax()
fruits[longest_string]

'honeycrisp apple'

In [ ]:
''' 5. Write the code to get the string values with 5 or more letters in the name.'''

In [144]:
fruits[fruits.apply(len) >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
''' 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.'''

In [154]:
fruits[fruits.apply(lambda fruit: fruit.count('o') > 1)]

6         tomato
15    gooseberry
dtype: object

In [ ]:
''' 7. Write the code to get only the string values containing the substring "berry".'''

In [146]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [ ]:
''' 8. Write the code to get only the string values containing the substring "apple".'''

In [147]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [ ]:

''' 9. Which string value contains the most vowels?'''

In [149]:
fruits[fruits.apply(contains_vowels).idxmax()]

'honeycrisp apple'

# Exercise III

In [ ]:
#Use pandas to create a Series named letters from the following string:

In [156]:
letters =  ['hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy']
letters = pd.Series(letters)
letters

0    hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyf...
dtype: object

In [157]:
' 1. Which letter occurs the most frequently in the letters Series?'

dtype('O')

In [158]:

'2. Which letter occurs the Least frequently? ?'

letters.count()

1

In [ ]:
' 3. How many vowels are in the Series?'

In [ ]:
' 4. How many consonants are in the Series?'

In [ ]:
' 5. Create a Series that has all of the same letters but uppercased.'

In [ ]:
' 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.?'

# Use pandas to create a Series named numbers from the following list:

In [ ]:
  ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [ ]:
'1. What is the data type of the numbers Series?'

In [ ]:
'2. How many elements are in the number Series?'

In [ ]:
' 3. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.'

In [ ]:
' 4. Run the code to discover the maximum value from the Series.'

In [ ]:
' 5. Run the code to discover the minimum value from the Series.'

In [ ]:
' 6. pWhat is the range of the values in the Series?'

In [ ]:
' 7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.'

In [ ]:
' 8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.
'